<h1 class="animate-me-inverse">It's election time!</h1>
<h4>Choose your favorite candidates</h4>
<br />
<div class="panel panel-info">
    <div class="panel-heading">
        <strong>Voting App &mdash; Demo Version</strong>
    </div>
    <div class="panel-body intro">
        <div class="row">
            <div class="col-md-8">
                This is the demo version of the real-time voting app
                <br/>
                Vote for one candidate in each category (demo version allows multiple voting)
                <br/>
                View results in form of <a ui-sref="analysis">charts</a>, <a ui-sref="results">grid</a> or <a ui-sref="winners">profiles</a>
            </div>
            <div class="col-md-2">
                <div>
                    <a class="btn btn-block btn-success" ui-sref="position({ positionId: 0 })">Quick Start</a>
                    <br/>
                </div>
                <div>
                    <a class="btn btn-block btn-primary" href="https://github.com/gouravanvekar/voting-app" target="_blank">View on GitHub</a>
                </div>
                <div class="col-md-2">
                </div>
            </div>
        </div>
    </div>
</div>