<div class="row" ng-hide="displayResults">
    <div class="col-lg-3 col-md-3 col-sm-12 centered-text" ng-repeat="candidate in candidates">
        <h2>{{ candidate.firstname + ' ' + candidate.lastname }}</h2>
        <div class="profile-avatar">
            <img class="img-responsive" ng-src="{{ candidate.profileImage }}" alt="profile picture" ng-click="registerVote($index)">
        </div>
        <button type="button" class="btn btn-info voffset-1" ng-click="registerVote($index)">Vote</button>
    </div>
</div>