body{
    font-family: 'Open Sans', sans-serif;
    padding-top: 50px;
    padding-bottom: 20px;
}

.col-centered{
    float: none;
    margin: 0 auto;
}

.centered-text {
    text-align:center
}

.voffset-1 { margin-top: 10px; }
.voffset-2 { margin-top: 20px; }

.profile-avatar img {
    border-radius: 50%;
    border: 1px solid #333;
    margin: 0 auto;
    padding: 10px;
    cursor: pointer;
}

.resultsGrid {
    width: 100%;
    height: auto;
}

.profile {
    margin: 20px 0;
}

.profile-userpic img {
    float: none;
    margin: 0 auto;
    width: 50%;
    height: 50%;
    -webkit-border-radius: 50% !important;
    -moz-border-radius: 50% !important;
    border-radius: 50% !important;
}

.profile-usertitle {
    text-align: center;
    margin-top: 20px;
}

.profile-usertitle-name {
    color: #5a7391;
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 7px;
}

.profile-usertitle-job {
    text-transform: uppercase;
    color: #5b9bd1;
    font-size: 12px;
    font-weight: 600;
    margin-bottom: 15px;
}

.profile-userbuttons {
    text-align: center;
    margin-top: 10px;
}

.animate-me, .toppad {
    -webkit-animation-name: dropProfile;
    -webkit-animation-iteration-count: 1;
    -webkit-animation-timing-function: ease-out;
    -webkit-animation-duration: 1s;

    animation-name: dropProfile;
    animation-iteration-count: 1;
    animation-timing-function: ease-out;
    animation-duration: 1s;
}

@-webkit-keyframes dropProfile {
    0% {
        -webkit-transform: translateY(20px);
        opacity: 0;
    }
    100% {
        -webkit-transform: translateY(0);
        opacity: 1;
    }
}
@keyframes dropProfile {
    0% {
        transform: translateY(20px);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

.animate-me-inverse, .toppad-inverse {
    -webkit-animation-name: dropTopProfile;
    -webkit-animation-iteration-count: 1;
    -webkit-animation-timing-function: ease-out;
    -webkit-animation-duration: 1s;

    animation-name: dropTopProfile;
    animation-iteration-count: 1;
    animation-timing-function: ease-out;
    animation-duration: 1s;
}

@-webkit-keyframes dropTopProfile {
    0% {
        -webkit-transform: translateY(-20px);
        opacity: 0;
    }
    100% {
        -webkit-transform: translateY(0);
        opacity: 1;
    }
}
@keyframes dropTopProfile {
    0% {
        transform: translateY(-20px);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

.git-button{
    margin-top: 5px;
}

.intro{
    font-size: 1.2em;
    line-height: 2.5em;
}
